ExampleToXamarin/.vs/ExampleToXamarin/v16/Server/sqlite3/db.lock
ExampleToXamarin/.vs/ExampleToXamarin/v16/Server/sqlite3/storage.ide
ExampleToXamarin/.vs/ExampleToXamarin/v16/Server/sqlite3/storage.ide-shm
ExampleToXamarin/.vs/ExampleToXamarin/v16/Server/sqlite3/storage.ide-wal
ExampleToXamarin/ExampleToXamarin.Android/obj/Debug/90 
ExampleToXamarin/ExampleToXamarin.Android/bin/Debug
ExampleToXamarin/.vs/ExampleToXamarin/v16/TestStore/0/000-0000.testlog
